<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdDataService" />
              <!-- binding configuration with a name -->
              <binding name="BasicHttpBinding_ExtendedMaxSize"
                  maxBufferSize="999999" maxReceivedMessageSize="999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.mediaradar.com/AdDataService/AdService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExtendedMaxSize"
                contract="ServiceReference1.IAdDataService" name="BasicHttpBinding_ExtendedMaxSize" />
        </client>
    </system.serviceModel>
</configuration>